<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>
    <h1>Bibliography</h1>
    <p>Clint Eastwood, born in 1930, is an American actor, filmmaker, and former mayor of Carmel-by-the-Sea. He gained fame through spaghetti westerns and his iconic "Man with No Name" character.
    Eastwood's career spans a wide range of genres, and he is known for his roles in films like "Dirty Harry" and "Unforgiven." He is also a highly regarded director, with notable films such as "Mystic River" and "American Sniper."
    Eastwood's contributions have earned him multiple awards, cementing his status as a legendary figure in cinema.</p>
  </body>
</html>